<!doctype html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml"  xml:lang="vi">


    <head>
        <meta charset="utf-8" />
        <title>Page-name</title>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
        <meta name="theme-color" content="#0099ff" />

        <meta http-equiv="Content-Language" content="VN" />
        <meta name="description" content="Page-name" />
        <meta name="keywords" content="" />
        <meta property="og:url" name="og:url" content="" data-app/>
        <meta property="og:type" name="og:type" content="website" data-app/>
        <meta property="og:description" name="og:description" content="Page-name" data-app/>
        <meta property="og:title" name="og:title" content="Page-name" data-app/>

        <meta property="og:image" name="og:image" content="/uploaded/logo/logo.png" data-app>
        <meta property="og:image:alt" name="og:image:alt" content="/uploaded/logo/logo.png" data-app>
        <link href="/favicon.ico" rel="shortcut icon" />        

     
        <link rel="stylesheet" type="text/css" href="/css/style.css" />

        <link rel="stylesheet" type="text/css" href="/css/grid.css" />
        <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       
        <link rel="stylesheet" type="text/css" href="/css/font.css" />
        <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
        <link rel="stylesheet" href="/css/jquery-ui.css" />

        <link rel="stylesheet" href="/css/jquery.fancybox.css" />
        <link rel="stylesheet" href="/css/hover.css" />
        <script src="/js/jquery-1.10.1.min.js"></script>


        
      
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.1.6/swiper-bundle.min.js"></script>       

    </head>    


<body>



<div id="page">


    <!-- header pc -->
    <header class="header hide-on-pad hide-on-tab">
      <div class="grid">
        
        <div class="flex-container align-center">
            <div class="cell-1-10">
              <div class="logo">
                <a href="/">
                  <img src="/uploaded/logo/logo.png" alt="LogoSite"
                    style="margin-left:0px"></a>
                </div>
            </div>
           <div class="cell-9-10">
            <div class="menubar">
              <ul class="nav  hide-on-mobile">
                  <li class=" active ">
                    <a href="/" class=""><span style="background-image:url()"> Trang chủ       
                  </li>
                  <li class=" ">
                    <a href="/" class="">
                          <span style="background-image:url()"> Giới thiệu</span>
                            </a>
                      <ul class="submnu1" style="display: none;">
                        <li class="">
                          <a href="/phat-trien-dien-nang/">Về chúng tôi</a>
                        </li>
                        <li class="">
                          <a href="/dau-tu-bat-dong-san/">Lịch sử hình thành</a>
                        </li>
                    </ul>
                  </li>
                  <li class=" ">
                    <a href="/" class=""><span style="background-image:url()"> Niềng răng    
                  </li>
                  <li class=" ">
                    <a href="/" class=""><span style="background-image:url()"> Trồng răng implant 
                  </li>
                  <li class=" ">
                    <a href="/" class=""><span style="background-image:url()"> Thông tin
                  </li>
                  <li class=" ">
                    <a href="/" class=""><span style="background-image:url()"> Media 
                  </li> 
                  <li class=" ">
                    <a href="/" class=""><span style="background-image:url()"> Liên hệ
                  </li> 
              </ul>
              <div class="btn-datlich">
                  <a href="#"> Đặt lịch hẹn</a>
              </div>
              <div class="btn-hotline">
                <a href="#"><i class="fas fa-phone    "></i> 0987.304.037</a>
              </div>
              <div class="icon-search">
                <i class="fa fa-search search-icon" aria-hidden="true"></i> 
                <div class="search-pc" style="display: none;">
                    <form action="/search/" method="get" id="searchformtab">
                        <input name="qr" id="qr_search" class="kw-mobile" placeholder="Tìm kiếm" type="text">
                            <!-- <a href="#" class="submit-search-pc" onClick=""> 
                                <i class="fa fa-search" aria-hidden="true"></i> </a> -->

                            <a href="#" class="closeX" onclick="$('.search-pc').hide(); return false;">✕</a>        
                    </form>
                </div>
                <script type="text/javascript">

                    $(".submit-search-pc").click(function () {
                        if ($("#qr_search").val() != "")
                            $('#searchformtab').submit();
                        return false;

                    });

                    $(document).ready(function () {
                        $(".search-icon").click(function () {
                            $(".search-pc").stop().slideToggle("fast");
                            return false;
                        });
                    });
                </script>  	
                <div class="c"></div>
              </div>
              <div class="lang-flag">
                  <a href="#">Vi</a> 
              </div>
           </div>
          </div>
        </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    <header class="header hide-on-pc error">
      <div class="mobile-bar hide-on-pc">
        <div class="grid">
            <div class="flex-container align-center">
                <div class="cell-1-3">
                   
                    <a class="menu-mobile" href="#menu">
                      <i class="fas fa-bars"></i>
                   </a>
                   
                </div>
                <div class="cell-1-3">
                 
                  <div class="logo">
                      <a href="/">
                        <img src="/uploaded/logo/Logo_full 1.png" alt="Logo web" style="max-width: 100%; margin: 0 auto" />
                      </a>
                  </div>
                 
              </div>
            
                <div class="icon-search search-mb" >
                  <i class="fa fa-search search-iconmb" aria-hidden="true"></i>
                    <div class="frm-search-mb" >
                     <form action="/search/" method="get" id="searchformtab">
                        <input name="qr" class="kw-mobile" placeholder="Tìm kiếm " type="text">
                        <a href="#" class="submit-search-pc" onClick="$('#searchformtab').submit(); return false;"> 
                          <i class="fa fa-search" aria-hidden="true"></i> </a>
  
                        <a href="#" class="closeX" onClick="$('.frm-search-mb').hide(); return false;">&#10005;</a>        
                      </form>
                    </div> 
                    
                    <script>
                      $(document).ready(function () {
                      $(".search-iconmb").click(function () {
                        $(".frm-search-mb").stop().slideToggle("fast");
                        return false;
                      });
                      });
                    </script>  	
                   </div>
               
            </div>
            </div>
        </div>
        <div class="c"></div>
      
    </header>
    <!-- content -->
    <div class="content">
      
      <!-- slideshow -->
      <div class="swiper-container" id="slide_home">
    
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slidehome">
              <img class="hide-on-mobile" src="/uploaded/slideshow/item1.png" alt="" style="width: 100%" />
              <div class="slidehome-content">
                <div class="grid">
                    <div class="flex-container flex-flex-end">
                      <div class="cell-1-2 tab-cell-1-1">
                        <div class="slidehome-desc">
                          <div class="title-small">
                            Lorem ipsum dolor sit amet 
                          </div>
                          <h2>
                            Lorem isum dolor onsecte
                            adipiscing gravid
                          </h2>
                        </div>
                        
                      </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="swiper-slide">
          <div class="slidehome">
            <img class="hide-on-mobile" src="/uploaded/slideshow/item1.png" alt="" style="width: 100%" />
            <div class="slidehome-content">
              <div class="grid">
                  <div class="flex-container flex-flex-end">
                    <div class="cell-1-2 tab-cell-1-1">
                      <div class="slidehome-desc">
                        <div class="title-small">
                          Lorem ipsum dolor sit amet 
                        </div>
                        <h2>
                          Lorem isum dolor onsecte
                          adipiscing gravid
                        </h2>
                      </div>
                      
                    </div>
                  </div>
              </div>
          </div>
          </div>
        </div>
      
        </div>
        <div class="swiper-button swiper-slidehome-next">
          <i class="fas fa-angle-right"></i>
        </div>
        <div class="swiper-button swiper-slidehome-prev">
          <i class="fas fa-angle-left"></i>
        </div>
      </div>
      <script>
        $(function () {
          var swiper_slide_home = new Swiper("#slide_home", {
            loop: true,
            slidesPerView: 1,
            autoHeight:true,
            autoplay: {
              simulateTouch: true,
              delay: 5000000,
              disableOnInteraction: false,
            },
            spaceBetween: 0,
            navigation: {
              nextEl: ".swiper-slidehome-next",
              prevEl: ".swiper-slidehome-prev",
            },
            pagination: {
              el: ".swiper-pagination",
              clickable: true,
            },
            speed: 500,
            spaceBetween: 0,
          });

          $("#slide_home").on("mouseover", function () {
            swiper_slide_home.autoplay.stop();
          });
          $("#slide_home").on("mouseout", function () {
            swiper_slide_home.autoplay.start();
          });
        });
      </script>
      <!-- end slideshow -->

       
      <div class="homeservice-wrapper">
          <div class="c30"></div>
          <div class="c20 hide-on-mobile"></div>
            <div class="grid">
              <div class="homecat-title text-center">
                Dịch vụ của DRTIDD
            </div>
            <div class="c10"></div>
              <div class="homecat-intro">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti provident et adipisci. Consequatur ipsum, cum, perferendis sequi esse beatae quaerat veniam vel fugiat soluta magnam dolorem laudantium, reiciendis dolorum aperiam?
              </div>
            <div class="c20"></div>
            <div class="c10"></div>
            <div class="flex-container">
                <div class="cell-1-3 tab-cell-1-1">
                <div class="homeservice-item">
                      <div class="homeservice-item-image">
                          <a href="#"> <img src="/uploaded/dichvu/item1.png" alt="" width="100%" height="100%" style="object-fit: cover;"></a>
                      </div>
                      <div class="homeservice-item-content">
                        <div class="homeservice-item--ico">
                            <img src="/uploaded/dichvu/ico-item1.png" alt="">
                        </div>
                        <div class="c10"></div>
                        <div class="c20 hide-on-mobile"></div>
                          <h3 class="homeservice-item--name">
                              <a href="#">Niềng răng</a>
                          </h3>
                          <div class="homeservice-item--intro text-line-3">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida risus commodo viverra maecenas accumsan.
                          </div>
                      </div>
                  </div>
                </div>
                <div class="cell-1-3 tab-cell-1-1">
                  <div class="homeservice-item">
                        <div class="homeservice-item-image">
                            <a href="#"> <img src="/uploaded/dichvu/item1.png" alt="" width="100%" height="100%" style="object-fit: cover;"></a>
                        </div>
                        <div class="homeservice-item-content">
                          <div class="homeservice-item--ico">
                              <img src="/uploaded/dichvu/ico-item2.png" alt="">
                          </div>
                          <div class="c10"></div>
                          <div class="c20 hide-on-mobile"></div>
                            <h3 class="homeservice-item--name">
                                <a href="#">Trồng răng Iplant</a>
                            </h3>
                            <div class="homeservice-item--intro text-line-3">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida risus commodo viverra maecenas accumsan.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell-1-3 tab-cell-1-1">
                  <div class="homeservice-item">
                        <div class="homeservice-item-image">
                            <a href="#"> <img src="/uploaded/dichvu/item1.png" alt="" width="100%" height="100%" style="object-fit: cover;"></a>
                        </div>
                        <div class="homeservice-item-content">
                          <div class="homeservice-item--ico">
                              <img src="/uploaded/dichvu/ico-item3.png" alt="">
                          </div>
                          <div class="c10"></div>
                          <div class="c20 hide-on-mobile"></div>
                            <h3 class="homeservice-item--name">
                                <a href="#">Trồng răng Iplant</a>
                            </h3>
                            <div class="homeservice-item--intro text-line-3">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida risus commodo viverra maecenas accumsan.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell-1-3 tab-cell-1-1">
                  <div class="homeservice-item">
                        <div class="homeservice-item-image">
                            <a href="#"> <img src="/uploaded/dichvu/item1.png" alt="" width="100%" height="100%" style="object-fit: cover;"></a>
                        </div>
                        <div class="homeservice-item-content">
                          <div class="homeservice-item--ico">
                              <img src="/uploaded/dichvu/ico-item4.png" alt="">
                          </div>
                          <div class="c10"></div>
                          <div class="c20 hide-on-mobile"></div>
                            <h3 class="homeservice-item--name">
                                <a href="#">Nhổ răng khôn</a>
                            </h3>
                            <div class="homeservice-item--intro text-line-3">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida risus commodo viverra maecenas accumsan.
                            </div>
                        </div>
                    </div>
                  </div>
                <div class="cell-1-3 tab-cell-1-1">
                  <div class="homeservice-item">
                        <div class="homeservice-item-image">
                            <a href="#"> <img src="/uploaded/dichvu/item1.png" alt="" width="100%" height="100%" style="object-fit: cover;"></a>
                        </div>
                        <div class="homeservice-item-content">
                          <div class="homeservice-item--ico">
                              <img src="/uploaded/dichvu/ico-item5.png" alt="">
                          </div>
                          <div class="c10"></div>
                          <div class="c20 hide-on-mobile"></div>
                            <h3 class="homeservice-item--name">
                                <a href="#">Chăm sóc răng</a>
                            </h3>
                            <div class="homeservice-item--intro text-line-3">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida risus commodo viverra maecenas accumsan.
                            </div>
                        </div>
                    </div>
                  </div>
                <div class="cell-1-3 tab-cell-1-1">
                  <div class="homeservice-item">
                        <div class="homeservice-item-image">
                            <a href="#"> <img src="/uploaded/dichvu/item1.png" alt="" width="100%" height="100%" style="object-fit: cover;"></a>
                        </div>
                        <div class="homeservice-item-content">
                          <div class="homeservice-item--ico">
                              <img src="/uploaded/dichvu/ico-item5.png" alt="">
                          </div>
                          <div class="c10"></div>
                          <div class="c20 hide-on-mobile"></div>
                            <h3 class="homeservice-item--name">
                                <a href="#">Tẩy trắng răng</a>
                            </h3>
                            <div class="homeservice-item--intro text-line-3">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida risus commodo viverra maecenas accumsan.
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="c30"></div>
            <div class="c20 hide-on-mobile"></div>
        </div>

   
      <div class="homeinfo-wrapper">
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
          <div class="homeinfo">
            <div class="grid">
              <div class="homecat-title text-center">
                NHA KHOA TIẾN ĐỨC (DRTIDD)
              </div>
              <div class="homesub-title">
                Great Teeth, Great Smile, Great Zibe 
              </div>
              <div class="c10"></div>
              <div class="homecat-intro">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accum...
              </div>
              <div class="c30"></div>
            <div class="homeinfo-slide">
              <div class="swiper-container" id="slide_homeinfo">
    
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                   
                      <img class="hide-on-mobile" src="/uploaded/gioi-thieu/item1.png" alt="" style="width: 100%; max-height:450px; object-fit: cover;" />
                                     
                </div>

                </div>
                
              </div>
              <div class="swiper-button swiper-slidehomeinfo-next">
                <i class="fas fa-angle-right"></i>
              </div>
              <div class="swiper-button swiper-slidehomeinfo-prev">
                <i class="fas fa-angle-left"></i>
              </div>
              <script>
                $(function () {
                  var swiper_slide_home = new Swiper("#slide_homeinfo", {
                    loop: true,
                    slidesPerView: 1,
                    autoHeight:true,
                    autoplay: {
                      simulateTouch: true,
                      delay: 5000000,
                      disableOnInteraction: false,
                    },
                    spaceBetween: 0,
                    navigation: {
                      nextEl: ".swiper-slidehomeinfo-next",
                      prevEl: ".swiper-slidehomeinfo-prev",
                    },
                    pagination: {
                      el: ".swiper-pagination",
                      clickable: true,
                    },
                    speed: 500,
                    spaceBetween: 0,
                  });
        
                  $("#slide_home").on("mouseover", function () {
                    swiper_slide_home.autoplay.stop();
                  });
                  $("#slide_home").on("mouseout", function () {
                    swiper_slide_home.autoplay.start();
                  });
                });
              </script>
            </div>
            <div class="c30"></div>
            <div class="c20 hide-on-mobile"></div>
            <div class="flex-container">
                <div class="cell-1-4 tab-cell-1-2">
                  <div class="homeinfo-item">
                      <div class="homeinfo-item--ico">
                          <img src="/uploaded/gioi-thieu/ico-item1.png" alt="">
                      </div>
                      <div class="c10"></div>
                      <div class="homeinfo-item--name"> 
                          Bảo hành trọn đời
                      </div>
                      <div class="homeinfo-item--intro text-line-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accum...
                      </div>
                  </div>
                </div>
               
                <div class="cell-1-4 tab-cell-1-2">
                  <div class="homeinfo-item">
                      <div class="homeinfo-item--ico">
                          <img src="/uploaded/gioi-thieu/ico-item2.png" alt="">
                      </div>
                      <div class="c10"></div>
                      <div class="homeinfo-item--name"> 
                        Bác sỹ chuyên khoa
                      </div>
                      <div class="homeinfo-item--intro text-line-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accum...
                      </div>
                  </div>
                </div>
               
                <div class="cell-1-4 tab-cell-1-2">
                  <div class="homeinfo-item">
                      <div class="homeinfo-item--ico">
                          <img src="/uploaded/gioi-thieu/ico-item3.png" alt="">
                      </div>
                      <div class="c10"></div>
                      <div class="homeinfo-item--name"> 
                        Công nghệ hiện đại
                      </div>
                      <div class="homeinfo-item--intro text-line-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accum...
                      </div>
                  </div>
                </div>
               
                <div class="cell-1-4 tab-cell-1-2">
                  <div class="homeinfo-item">
                      <div class="homeinfo-item--ico">
                          <img src="/uploaded/gioi-thieu/ico-item4.png" alt="">
                      </div>
                      <div class="c10"></div>
                      <div class="homeinfo-item--name"> 
                        An toàn không đau
                      </div>
                      <div class="homeinfo-item--intro text-line-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accum...
                      </div>
                  </div>
                </div>
               
            </div>
            </div>
          </div>
          
          <div class="c30"></div>
          <div class="c20 hide-on-mobile"></div>
      </div>  
      <div class="homevideo-wrapper">
          <div class="c30"></div>
          <div class="c20 hide-on-mobile"></div>
          <div class="grid">
            <div class="homecat-title text-center">
              THƯ VIỆN VIDEO
           </div>
           <div class="c30"></div>
           <div class="flex-container">
               <div class="cell-1-2 tab-cell-1-1">
                   <div class="homevideo-item">
                       <img src="/uploaded/galleries/item1.png" alt="" style="width: 100%; height: 350px; object-fit: cover;">
                   

                        <a data-fancybox="" class="fancybox__link" href="https://www.youtube.com/watch?v=4RydZEUIHV0&ab_channel=VTV24">
                          <i class="fal fa-play"></i>
                        </a>
                    <div class="homevideo-item--name">
                        <a href="#"> Lorem Ipsum</a>
                    </div>
                   </div>
               </div>
               <div class="cell-1-2 tab-cell-1-1">
                   <div class="homevideo-item">
                       <img src="/uploaded/galleries/item2.png" alt="" style="width: 100%; height: 350px; object-fit: cover;">
                   

                        <a data-fancybox="" class="fancybox__link" href="https://www.youtube.com/watch?v=4RydZEUIHV0&ab_channel=VTV24">
                          <i class="fal fa-play"></i>
                        </a>
                    <div class="homevideo-item--name">
                        <a href="#"> Lorem Ipsum</a>
                    </div>
                   </div>
               </div>
           </div>
 
          </div>

          <div class="c20 hide-on-mobile"></div>
          <div class="c30"></div>
      </div>    
      <div class="homefeedback-wrapper">
          <div class="grid">  
            <div class="homefeedback">
              <div class="c20 hide-on-mobile"></div>
              <div class="c30"></div>
                  <div class="homecat-title text-center">
                    Khách hàng nói về chúng tôi
                  </div>
                  <div class="c10"></div>
                  <div class="homecat-intro">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Modi libero repudiandae repellendus fuga qui
                  </div>
                  <div class="flex-container flex-centered">
                      
                 <div class="cell-2-3">
                  <div class="c30"></div>
                  <div class="sp-thumb">
                    <div class="swiper-container swiper-reviewthumb">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide" >
                            <img src="/uploaded/gioi-thieu/user2.jpg" alt="">
                        </div>
                       
                      <div class="swiper-slide" > 
                          <img src="/uploaded/gioi-thieu/user1.jpg" alt="">
                      </div>
                      <div class="swiper-slide" >
                        <img src="/uploaded/gioi-thieu/user2.jpg" alt="">
                      </div>
                      <div class="swiper-slide" >
                          <img src="/uploaded/gioi-thieu/user1.jpg" alt="">
                      </div>
                      <div class="swiper-slide" >
                          <img src="/uploaded/gioi-thieu/user1.jpg" alt="">
                      </div>
                      <div class="swiper-slide" >
                        <img src="/uploaded/gioi-thieu/user1.jpg" alt="">
                    </div>
                      </div>
              
                     
                    </div>
                    <div class="c10"></div>
                    <div class="swiper-container swiper-review">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide" >
                          <div class="review-name">

                           Trần Thanh Anh
                      </div>
                           <div class="address">
                              Hà Đông, Hà Nội
                           </div>
                           <div class="review-content">
                              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero reprehenderit reiciendis hic sunt dicta odit eaque, beatae labore aliquid? Voluptas voluptatum sapiente quibusdam enim minus nulla rem labore, error earum?
                           </div>
                        </div>
                       
                      <div class="swiper-slide" >
                        <div class="review-name">

                        
                          Phùng Tùng Anh
                        </div>
                        <div class="address">
                           Thanh Xuân, Hà Nội
                        </div>
                        <div class="review-content">
                           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero reprehenderit reiciendis hic sunt dicta odit eaque, beatae labore aliquid? Voluptas voluptatum sapiente quibusdam enim minus nulla rem labore, error earum?
                        </div>
                      </div>
                      <div class="swiper-slide" >
                        <div class="review-name">

                        
                        Phùng Anh Anh
                        </div>
                        <div class="address">
                           Thường tín, Hà Nội
                        </div>
                        <div class="review-content">
                           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero reprehenderit reiciendis hic sunt dicta odit eaque, beatae labore aliquid? Voluptas voluptatum sapiente quibusdam enim minus nulla rem labore, error earum?
                        </div>
                      </div>
                      <div class="swiper-slide" >
                        <div class="review-name">

                        
                        Phùng Anh Tùng
                        </div>
                        <div class="address">
                           Thanh Xuân, Hà Nội
                        </div>
                        <div class="review-content">
                           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero reprehenderit reiciendis hic sunt dicta odit eaque, beatae labore aliquid? Voluptas voluptatum sapiente quibusdam enim minus nulla rem labore, error earum?
                        </div>
                      </div>
                      <div class="swiper-slide" >
                        <div class="review-name">

                        
                        Phùng Tùng Nam
                        </div>
                        <div class="address">
                           Thanh Xuân, Hà Nội
                        </div>
                        <div class="review-content">
                           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero reprehenderit reiciendis hic sunt dicta odit eaque, beatae labore aliquid? Voluptas voluptatum sapiente quibusdam enim minus nulla rem labore, error earum?
                        </div>
                      </div>
                      <div class="swiper-slide" >
                        <div class="review-name">

                        
                        Phùng Anh Phong
                        </div>
                        <div class="address">
                           Thanh Xuân, Hà Nội
                        </div>
                        <div class="review-content">
                           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero reprehenderit reiciendis hic sunt dicta odit eaque, beatae labore aliquid? Voluptas voluptatum sapiente quibusdam enim minus nulla rem labore, error earum?
                        </div>
                    </div>
                      </div>
              
                     
                    </div>
                  </div>
               
                 </div>
                  </div>
                  <script>
  //    
             


            $(function () {
                var swiper_ykien = new Swiper('.swiper-review', {
                    fadeEffect: {
                        crossFade: true
                    },
                    slidesPerView: 'auto',
                    grabCursor: true,
                    centeredSlides: true,
                    loop: true,
                });
                var swiper_ykienimage = new Swiper('.swiper-reviewthumb', {
                  effect: "coverflow",
                    grabCursor: true,
                    centeredSlides: true,
                    slidesPerView: "auto",
                    autoplay: {
                      delay: 100000
                    },
                    coverflowEffect: {
                      rotate: 0,
                      stretch: 0,
                      depth: 150,
                      modifier: 3,
                      slideShadows: false
                    },
                    spaceBetween: 0,
                    loop: true,
                    watchSlidesProgress: true,

                });



                $("#swiper-feeback").on("mouseover", function () {
                    swiper_ykienimage.autoplay.stop();
                });
                $(".swiper-reviewthumb").on("mouseout", function () {
                    swiper_ykienimage.autoplay.start();
                });
                swiper_ykien.controller.control = swiper_ykienimage;
                swiper_ykienimage.controller.control = swiper_ykien;
            });
        </script>
               

                  
              <div class="c20 hide-on-mobile"></div>
              <div class="c30"></div>


            </div>

          </div>
      </div>  
      <div class="homenews-wrapper">
      
        <div class="c20 hide-on-mobile"></div>
        <div class="c30"></div>
            <div class="grid">
              <div class="homecat-title text-center">
                Tin tức Nổi bật
              </div>
              <div class="c30"></div>
                <div class="swiper-container slider-homenews">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="homenews-item">
                        <a href="#" class="">
                          <img src="/uploaded/tin-tuc/item3.png" style="width:100%; height:300px; object-fit:cover" alt="">
                        </a>
                        <div class="homenews-item__content">
                          <div class="creatdate">
                            <i class="far fa-clock"></i> NGÀY 06.06.2023
                          </div>
                          <div class="homenews-item__name"> 
                            <a href="#" class="text-line-2">
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo facere culpa, quibusdam quidem fuga possimus nam numquam quis quam. Iste earum eveniet nobis rerum quibusdam sunt necessitatibus voluptatem.
                            </a>
                            
                          </div>
                          
                          <div class="text-line-2 homenews-item--intro">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nemo assumenda fuga hic corrupti nihil quae labore amet iste quos facilis ipsum quam, tempora, vitae ad enim velit quis earum!
                          </a>
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="swiper-slide">
                      <div class="homenews-item">
                        <a href="#" class="">
                          <img src="/uploaded/tin-tuc/item2.png" style="width:100%; height:300px; object-fit:cover" alt="">
                        </a>
                        <div class="homenews-item__content">
                          <div class="creatdate">
                            <i class="far fa-clock"></i> NGÀY 06.06.2023
                          </div>
                          <div class="homenews-item__name"> 
                            <a href="#" class="text-line-2">
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo facere culpa, quibusdam quidem fuga possimus nam numquam quis quam. Iste earum eveniet nobis rerum quibusdam sunt necessitatibus voluptatem.
                            </a>
                            
                          </div>
                          
                          <div class="text-line-2 homenews-item--intro">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nemo assumenda fuga hic corrupti nihil quae labore amet iste quos facilis ipsum quam, tempora, vitae ad enim velit quis earum!
                          </a>
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="swiper-slide">
                      <div class="homenews-item">
                        <a href="#" class="">
                          <img src="/uploaded/tin-tuc/item1.png" style="width:100%; height:300px; object-fit:cover" alt="">
                        </a>
                        <div class="homenews-item__content">
                          <div class="creatdate">
                            <i class="far fa-clock"></i> NGÀY 06.06.2023
                          </div>
                          <div class="homenews-item__name"> 
                            <a href="#" class="text-line-2">
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo facere culpa, quibusdam quidem fuga possimus nam numquam quis quam. Iste earum eveniet nobis rerum quibusdam sunt necessitatibus voluptatem.
                            </a>
                            
                          </div>
                          
                          <div class="text-line-2 homenews-item--intro">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nemo assumenda fuga hic corrupti nihil quae labore amet iste quos facilis ipsum quam, tempora, vitae ad enim velit quis earum!
                          </a>
                          </div>
                        </div>
                      </div>
                    </div>
                 
                    <div class="swiper-slide">
                      <div class="homenews-item">
                        <a href="#" class="">
                          <img src="/uploaded/tin-tuc/item1.png" style="width:100%; height:300px; object-fit:cover" alt="">
                        </a>
                        <div class="homenews-item__content">
                          <div class="creatdate">
                            <i class="far fa-clock"></i> NGÀY 06.06.2023
                          </div>
                          <div class="homenews-item__name"> 
                            <a href="#" class="text-line-2">
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo facere culpa, quibusdam quidem fuga possimus nam numquam quis quam. Iste earum eveniet nobis rerum quibusdam sunt necessitatibus voluptatem.
                            </a>
                            
                          </div>
                          
                          <div class="text-line-2 homenews-item--intro">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nemo assumenda fuga hic corrupti nihil quae labore amet iste quos facilis ipsum quam, tempora, vitae ad enim velit quis earum!
                          </a>
                          </div>
                        </div>
                      </div>
                    </div>
                 
                  </div>
                
                </div>
                <!-- <div class="homenews-button-next"><i class="fas fa-chevron-right"></i></div>
                <div class="homenews-button-prev"><i class="fas fa-chevron-left"></i></div>
                   -->
            </div>
            <div class="c30"></div>
            <div class="c20 hide-on-mobile"></div>
        <script>
          $(function () {
            var slideproduct = new Swiper(".slider-homenews", {
        
            loop: true,
            
          
            spaceBetween: 20,
            autoplay:true,
            pagination: {
              
              clickable: true,
            },
            navigation: {
                    nextEl: '.homenews-button-next',
                    prevEl: '.homenews-button-prev'
                },
            breakpoints: {
                  // when window width is >= 320px
                  320: {
                    slidesPerView: 1,
                    spaceBetween: 20
                  },
                  // when window width is >= 480px
                  768: {
                    slidesPerView: 2.5,
                    spaceBetween: 30
                  },
                  // when window width is >= 640px
                  1040: {
                    slidesPerView: 3,
                    spaceBetween: 40
                  },
                  1600: {
                    slidesPerView: 3,
                    spaceBetween: 20
                  }
                }
              })
          
  
          });
        </script>
      </div>
      
          
    <!-- end content -->

    </div>
    <!-- footer -->
    <footer class="footer">
     <div class="c30"></div>
      <div class="footer-main">
        <div class="grid">

          <div class="flex-container">
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                  Nha khoa Tiến Đức DRTIDD
                </div>
               
                  <div class="info">
                    <i class="fas fa-map-marker-alt"></i> 16S3 KĐT Hà Tiên, Liên Bảo, Vĩnh Yên,Vĩnh Phúc
                  </div>
                 
                <div class="info">
                  <i class="far fa-envelope"></i> info@company.com
              </div>
  
                <div class="info">
                  <i class="fal fa-globe"></i> company.com
              </div>
  
                </div>
              
            
            </div>
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
              <div class="footer-title footer-title-mobile" rel="ct">
                 Liên kết nhanh
              </div>
                <ul class="menuboxfooter" id="boxcol5">
                  <li><a href="/gioi-thieu-chung/"> Giới thiệu chung</a></li>
                  <li><a href="/tam-nhin-chien-luoc/"> Tầm nhìn chiến lược </a></li>
                  <li><a href="/gia-tri-cot-loi/"> Giá trị cốt lõi</a></li>
                </ul>
              
              </div>
          </div>
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                  


                <div class="footer-title footer-title-mobile" rel="ct">
                  Bản đồ chỉ đường
               </div>
               <div class="c5"></div>
                 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7433.2184386419185!2d105.59686838938586!3d21.326452215792887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3134e55b8be09fd5%3A0x3c5c85a1abcc7f73!2zS2h1IMSRw7QgdGjhu4sgSMOgIFRpw6puLCBMacOqbiBC4bqjbywgVHAuIFbEqW5oIFnDqm4sIFbEqW5oIFBow7pjLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1688717341262!5m2!1svi!2s" width="100%" height="180" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

             
             

              </div>

          </div>
          
        <div class="cell-1-4 tab-cell-1-1">
          <div class="footer-block">
            <div class="footer-title footer-title-mobile" rel="ct">
             Fanpage facebook
            </div>
            <div class="c5"></div>
            <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v17.0" nonce="8umr5rzT"></script>
<div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-width="300" data-height="180" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div>
          </div>
        </div>
              
            
        </div>
  
        <div class="footer-copyright">
          <div class="grid">
            Copyright © 2023 companys
          </div>
        </div>
           
        </div>
      </div>

     
    </footer>
    <!-- end footer -->
</div>


  <script src="/js/jquery.fancybox.js"></script>
 
  
  <script src="/js/script.js"></script>

  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script src="/js/jquery.mmenu.min.all.js"></script>

  
</body>

</html>
